<footer class="text-white bg-dark">
    <div class="f-info">

        <div class="f-nav-icons">
            <div class="nav-link-p">
                <table class="table-borderless table-dark">
                    <tbody class="">
                        <tr>
                            <td> <a class="nav-link  " aria-current="page" href="/data">Home</a></td>
                            <td> <a class="nav-link  " aria-current="page" href="/data/skills">Skills</a></td>
                        </tr>
                        <tr>
                            <td> <a class="nav-link " aria-current="page" href="/data/projects">Projects</a></td>
                            <td> <a class="nav-link " aria-current="page" href="/data/education">Education</a></td>
                        </tr>
                        <tr>
                            <td> <a class="nav-link " aria-current="page" href="/data/contact">Contact</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="contcat">
                <p class="ptag">Mobile: +91-9769792558</p>
                <p class="ptag">Email: kushvahamanish555@gmail.com</p>
            </div>
        </div>

        <hr class="hr-line">
        <div class="copy-right">
            <div class="f-logo">
                <a class="" href="/data"><img class="img-logo" src="/Mkk.png" alt="logo"></a>
            </div>

            <div class="term-p">
                <p>&copy; 2025 Manish Shriprakash Kushvaha. All rights reserved.</p>
                <p>
                    <a class="text-white" href="https://www.termsfeed.com/live/3e210bec-d08f-4853-96e9-67b2960cff2a" target="_blank">Privacy Policy</a> |
                    <a href="https://www.termsfeed.com/live/3e210bec-d08f-4853-96e9-67b2960cff2a" target="_blank" class="text-white">Terms of Service</a>
                </p>
            </div>
            <div class="up-logo">
                <a class="arrow" href="#"><img src="/reshot-icon-box-arrow-up-7Q85XFDV36.svg" class="svg-arrow"></a>
            </div>
        </div>
    </div>

</footer>