<% layout("/layouts/boilerplate") -%>
    <div class="edu-page">
        <h2 class="text-white text-c head">Education</h2>
        <div class="edu-card">
            <div class="border-left">
                <div class="ltce-div edu-div">
                    <div class="l-logo">
                        <a target="_blank" class="" href="https://ltce.in/"><img class="ltce-logo" src="/ltcenew.png" alt="LTCE-LOGO"></a>
                    </div>
                    <div class="ltce-inside edu-common-card">
                        <h4>Education</h4>
                        <p class="align-p">2022 - 2026</p>

                        <h3 class="edu-mh">University Of Mumbai</h3>
                        <h2 class="edu-name">Lokmanya Tilak College Of Engineering, Navi Mumbai</h2>
                        <p class="align-p p-col">Bachelor of Engineering (BE) - Computer Engineering</p>

                        <button class="edu-btn btn"><a target="_blank" href="https://ltce.in/">visit
                                website</a></button>
                    </div>
                </div>
            </div>
            <div class="border-right">
                <div class="vk-div edu-div">
                    <div class="l-logo">
                        <a target="_blank" class="" href="https://www.kesalibag.edu.in/"><img class="ltce-logo vk-logo" src="/konkan_education_society_logo.jpg" alt="LTCE-LOGO"></a>
                    </div>
                    <div class="vk-inside edu-common-card">
                        <h4>Education</h4>
                        <p class="align-p">2020 - 2022</p>

                        <h3 class="edu-mh">Maharashtra Board</h3>
                        <h2 class="edu-name">K.E.S V.K High School & Junior College, Panvel</h2>
                        <p class="align-p p-col">Higher Secondary Certificate (HSC) - Science</p>

                        <button class="edu-btn btn"><a target="_blank" href="https://www.kesalibag.edu.in/">visit
                                website</a></button>

                    </div>
                </div>
            </div>

            <div class="border-left">
                <div class="pjmv-div edu-div">
                    <div class="l-logo">
                        <a target="_blank" class="" href="http://rayatshikshan.edu/contactus.aspx#:~:text=Rayat%20Shikshan%20Sanstha%2C%20Satara,Satara%2D%20415%20001."><img class="ltce-logo pjmv-logo" src="/pjmv.jpg" alt="LTCE-LOGO"></a>
                    </div>
                    <div class="pjmv-inside edu-common-card">
                        <h4>Education </h4>
                        <p class="align-p">2014 - 2020</p>

                        <h3 class="edu-mh">Maharashtra Board</h3>
                        <h2 class="edu-name">P.J.M Vidyalay, Nawade</h2>

                        <p class="align-p p-col">Secondary School Certificate (SSC)</p>

                        <button class="edu-btn btn"><a target="_blank"
                                href="http://rayatshikshan.edu/contactus.aspx#:~:text=Rayat%20Shikshan%20Sanstha%2C%20Satara,Satara%2D%20415%20001.">visit
                                website</a></button>

                    </div>
                </div>
            </div>
        </div>

    </div>