<% layout("/layouts/boilerplate") -%>


    <div class="project-div">
        <div class="pro-title">
            <h2 class="text-white text-c head">Major Projects</h2>
        </div>
        <div class="max-projects">
            <div class="pro-card">
                <div class="text left-part">
                    <p class="pro-tech">Fullstack</p>
                    <h2 class="pro-head">Wanderlust Homes</h2>
                    <p>A full-stack renteal plateform built with Node.js, Express.js, Css, Js, Bootstrap,
                        featuring user authentication and authorization also CURD operations to listing places for rent.
                    </p>

                    <div class="buttons">
                        <button class="edu-btn btn margin-right"><a target="_blank"
                                href="https://github.com/Manish-Kushvaha/Wunderlust">View Code</a></button>
                        <button class="edu-btn btn"><a href="https://full-stack-project-4.onrender.com/signup"
                                target="_blank">Live Project</a></button>
                    </div>
                </div>

                <div class="pro-pic right-part">
                    <img class="proj1" src="/Wanderlust.png">
                </div>
            </div>
            
            <div class="pro-card">
                <div class="text left-part">
                    <p class="pro-tech">Fullstack</p>
                    <h2 class="pro-head">Apna Video Call</h2>
                    <p>A full-stack video calling website built with Node.js, React, Css, Js, Bootstrap, Material UI
                        featuring user authentication and authorization which provide good video call features with live
                        chat.</p>

                        <div class="buttons">
                            <button class="edu-btn btn margin-right"><a target="_blank"
                                href="https://github.com/Manish-Kushvaha/Apna-Video-Call-Zoom">View Code</a></button>
                        <button class="edu-btn btn"><a href="https://apna-video-call-vn3o.onrender.com/"
                            target="_blank">Live Project</a></button>
                        </div>
                    </div>
                    
                    <div class="pro-pic right-part">
                    <img class="proj1" src="/ApnaVideo.png">
                </div>
            </div>

            <div class="pro-card">
                <div class="text left-part">
                    <p class="pro-tech">Frontend</p>
                    <h2 class="pro-head">Departmental Website</h2>
                    <p>A dynamic department portal built using React.js, Node.js, Express.js, and MongoDB, allowing students to view IA results, access notes, and stay updated with departmental announcements. The platform includes secure login, responsive UI, and real-time content management.</p>

                    <div class="buttons">
                        <button class="edu-btn btn margin-right"><a target="_blank"
                                href="https://github.com/Manish-Kushvaha/LTCE_dept_web">View Code</a></button>
                        <button class="edu-btn btn "><a href="https://ltce-comp.netlify.app/"
                                target="_blank">Live Project</a></button>
                    </div>
                </div>

                <div class="pro-pic right-part">
                    <img class="proj1" src="/ltceweb2.png">
                </div>
            </div>

            <div class="pro-card">
                <div class="text left-part">
                    <p class="pro-tech">Fullstack</p>
                    <h2 class="pro-head">ChintanAI</h2>
                    <p>ChintanAI is a full-stack AI chatbot application built with React and Node.js, offering secure authentication, real-time responses, and a responsive user experience.</p>

                    <div class="buttons">
                        <button class="edu-btn btn margin-right"><a target="_blank"
                                href="https://github.com/Manish-Kushvaha/ChintanAI-Chatbot">View Code</a></button>
                    </div>
                </div>

                <div class="pro-pic right-part">
                    <img class="proj1" src="/chintanai.png">
                </div>
            </div>
        </div>

        <div class="mini-projects">
            <div class="pro-title">
                <h2 class="text-white text-c head">Mini Projects</h2>
            </div>
            <div class="mini-cards">
                <div class="mini-card">
                    <h2 class="pro-head">Simon Game</h2>
                    <div class="pro-pic">
                        <img class="mini-pic" src="/simon.png">
                    </div>
                    <div class="tech-all">
                        <div class="tech">HTML</div>
                        <div class="tech">CSS</div>
                        <div class="tech">JS</div>
                    </div>
                    <button class="edu-btn btn mt-3"><a href="https://github.com/Manish-Kushvaha/Simon-Game"
                            target="_blank">View
                            Code</a></button>
                </div>
                <div class="mini-card card-style">
                    <h2 class="pro-head">Todo App</h2>
                    <div class="pro-pic">
                        <img class="mini-pic" src="/todo.png">
                    </div>
                    <div class="tech-all tech-li">
                        <div class="tech">HTML</div>
                        <div class="tech">CSS</div>
                        <div class="tech">JS</div>
                    </div>
                    <button class="edu-btn btn mt-3"><a href="https://github.com/Manish-Kushvaha/Todo-Task-App"
                            target="_blank">View
                            Code</a></button>
                </div>
                <div class="mini-card card-style">
                    <h2 class="pro-head">TextUtil</h2>
                    <div class="pro-pic">
                        <img class="mini-pic" src="/textutil.png">
                    </div>
                    <div class="tech-all tech-li">
                        <div class="tech">React</div>
                        <div class="tech">Bootstrap</div>
                    </div>
                    <button class="edu-btn btn mt-3"><a href="https://github.com/Manish-Kushvaha/Textutil"
                            target="_blank">View
                            Code</a></button>
                </div>
                <div class="mini-card card-style">
                    <h2 class="pro-head">Aja Ki Khabar(News)</h2>
                    <div class="pro-pic">
                        <img class="mini-pic" src="/news.png">
                    </div>
                    <div class="tech-all tech-li">
                        <div class="tech">React</div>
                        <div class="tech">Bootstrap</div>
                    </div>
                    <button class="edu-btn btn mt-3"><a href="https://github.com/Manish-Kushvaha/Newsapp"
                            target="_blank">View
                            Code</a></button>
                </div>
            </div>
        </div>

    </div>