<% layout("/layouts/boilerplate") -%>

    <div class="skills-section text-white">
        <h1 class="text-c">My Skills</h1>
        <p class="myPara pt-3">Good in full-stack web development using MongoDB, Express.js, and Node.js, with
            additional knowledge
            of Python 💻.</p>
        <div class="all-skills">
            <h2 class="skills-head text-white pb-4 pt-5">Frontend</h2>
            <div class="frontend skills-box ">
                <div class="html  pro-icons">
                    <img src="/html.png" class="f-image">
                </div>
                <div class="css pro-icons">
                    <img src="/css.png" class="f-image">

                </div>
                <div class="js pro-icons">
                    <img src="/JavaScript.png" class="f-image">

                </div>
                <div class="bootstrap pro-icons">
                    <img src="/bootstrap.png" class="f-image">

                </div>
            </div>
            <h2 class="skills-head text-white pb-4 pt-4">Backend</h2>
            <div class="backend skills-box">
                <div class="mongo pro-icons">
                    <img src="/mongodb.png" class="b-image">
                </div>
                <div class="express pro-icons">
                    <img src="/ExpressJS.png" class="b-image">
                </div>
                <div class="node pro-icons">
                    <img src="/node-js.jpg" class="b-image">
                </div>
                <div class="mysql pro-icons">
                    <img src="/mysql.png" class="b-image">
                </div>
            </div>
            <h2 class="skills-head text-white pb-4 pt-4">Programing Language</h2>
            <div class="planguages skills-box">
                <div class="python pro-icons">
                    <img src="/python.png" class="pro-image">
                </div>
                <div class="java pro-icons">
                    <img src="/java.png" class="pro-image">
                </div>
            </div>
            <h2 class="skills-head text-white pb-4 pt-4">Tools & Version control</h2>
            <div class="tools skills-box">
                <div class="github pro-icons">
                    <img src="/github.png" class="tv-image">
                </div>
                <div class="git pro-icons">
                    <img src="/git.png" class="tv-image">
                </div>
                <div class="vscode pro-icons">
                    <img src="/vs-code.svg" class="tv-image">
                </div>
                <div class="terminal pro-icons">
                    <img src="/terminal.png" class="tv-image t">
                </div>
            </div>

        </div>
    </div>
    <hr class="skill-line">