<% layout("/layouts/boilerplate") -%>

    <div class="skills-section text-white">
        <h1 class="text-c">My Skills</h1>
        <p class="myPara pt-3">Building scalable software, modern web applications, and reliable solutions with clean, efficient code 💻.</p>
        <div class="all-skills">
            <h2 class="skills-head text-white pb-4 pt-4">Programming Language</h2>
            <div class="planguages skills-box">
                <div class="java pro-icons">
                    <img src="/java.png" class="pro-image">
                </div>
                <div class="js pro-icons">
                    <img src="/JavaScript.png" class="f-image">
                    
                </div>
                <div class="python pro-icons">
                    <img src="/python.png" class="pro-image">
                </div>
            </div>

            <h2 class="skills-head text-white pb-4 pt-5">Frontend Technologies</h2> 
            <div class="frontend skills-box ">
                <div class="react pro-icons">
                    <img src="/react.png" class="f-image">
                </div>
                <div class="html  pro-icons">
                    <img src="/html.png" class="f-image">
                </div>
                <div class="css pro-icons">
                    <img src="/css.png" class="f-image">
                </div>
                <div class="bootstrap pro-icons">
                    <img src="/bootstrap.png" class="f-image">
                </div>
                <div class="ejs pro-icons">
                    <img src="/ejs.png" class="f-image">
                </div>
            </div>

            <h2 class="skills-head text-white pb-4 pt-4">Backend Technologies</h2>
            <div class="backend skills-box">
                <div class="express pro-icons">
                    <img src="/ExpressJS.png" class="b-image">
                </div>
                <div class="node pro-icons">
                    <img src="/node-js.jpg" class="b-image">
                </div>
                <div class="rest-api pro-icons">
                    <img src="/restapi.png" class="b-image">
                </div>
            </div>
            
            <h2 class="skills-head text-white pb-4 pt-4">Database</h2>
            <div class="skills-box">
                <div class="mongo pro-icons">
                    <img src="/mongodb.png" class="b-image">
                </div>
                <div class="mysql pro-icons">
                    <img src="/mysql.png" class="b-image">
                </div>
            </div>

            <h2 class="skills-head text-white pb-4 pt-4">Tools & Version control</h2>
            <div class="tools skills-box">
                <div class="github pro-icons">
                    <img src="/github.png" class="tv-image">
                </div>
                <div class="git pro-icons">
                    <img src="/git.png" class="tv-image">
                </div>
                <div class="vscode pro-icons">
                    <img src="/vs-code.svg" class="tv-image">
                </div>
                <div class="terminal pro-icons">
                    <img src="/terminal.png" class="tv-image t">
                </div>
                <div class="docker pro-icons">
                    <img src="/docker.png" class="tv-image">
                </div>
            </div>

        </div>
    </div>
    <hr class="skill-line">